.link {
  word-break: break-all;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--color), var(--color)), linear-gradient(var(--color), var(--color));
  background-size: 100% 1px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0.6s linear;
}

.link:hover {
  background-size: 100% 1px, 100% 2px;
}
